<html>
  <header>
    <title>Messages</title>
  </header>
  <body>
    <h1>Messages</h1>
    <p>
        <label for="handle" style="width:100%;">Handle:
            <input type="text" name="handle" id="handle" placeholder="Enter Handle" style="width:100%;">
        </label>
        <textarea placeholder="Enter a message" style="width:100%;height:200px;resize:vertical;margin-top:10px;" name="msg" id="msg"></textarea>
        <button type="button" style="margin-top:10px;" id="submit">Submit</button>
    </p>
    <p>
        <button type="button" style="margin-top:10px;" id="get-msg">Get Messages</button>
    </p>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
      $('#submit').on('click', function(e){
        $.post('/app1/api/message', {
            handle:$('#handle').val(),
            msg:$('#msg').val()
        })
        .done(function(result){
            console.log(result);
        })
        .fail(function(err){
            console.error(err);
        });
      });

      $('#get-msg').on('click', function(e){
        $.get('/app1/api/message')
        .done(function(result){
            console.log(result);
        })
        .fail(function(err){
            console.error(err);
        });
      });
  </script>
</html>